h1 { color: #333333; font-family: 'Bitter', serif; font-size: 50px; font-weight: normal; line-height: 54px; margin: 0 0 54px; }

p { color: #333333; font-family: Georgia, serif; font-size: 18px; line-height: 28px; margin: 0 0 28px; }

/* CSS borrowed from https://wdexplorer.com/20-examples-beautiful-css-typography-design/
- Clean Slate by Rafal Tomal */